/************* General display ************/

body {
    overflow-x: hidden;
}

.flex-container {
     display:grid;
     grid-template-columns: 1fr repeat(2, minmax(400px,710px)) 1fr;
     gap: 3%;
     margin: auto;
     grid-template-areas: 
     '. popup display .';
 }

 #popup_container {
     grid-area: popup;
 }

 #display_container {
     grid-area: display;
 }

.option-title {
    display: inline;
    font-size: 20px;
}

.option-description {
    padding: 20px;
    font-size: 16px;
    margin-right: 10px;
}

.option-description li {
    margin: 5px 0;
}

.install-info {
    padding:0;
}

/********* All updates popup ************/

#allUpdates {
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    user-select: none;
}

/* Defines the animations that should be used. */
@keyframes slidein {
    from {right: -27%;}
    to {right: 0;}
    /* from {width: 0;}
    to {width: 25%;} */
}

@keyframes slideout {
    from {right: 0;}
    to {right:-27%;}
    /* from{width: 25%;}
    to {width: 0;} */
}

.all-updates-info {
    position:absolute;
    right: -27%;
    top: 0;
    width:25%;
    height:100vh;
    z-index: 10;
    background-color: white;
    overflow-x:hidden;
    /* transition: 4s; */
    /* display:none; */
    /* animation: slidein .25s linear; */
    animation-fill-mode: forwards;
    box-shadow: 0px 10px 16px 5px rgba(0,0,0,0.2);
    padding:0;
    margin:0;
}

/* Grid */
.all-updates-info {
    display:grid;
    grid-template-rows: 7% auto 10%;
    grid-template-columns: 15px 1fr 48px;
    grid-template-areas: 
    "exit .   .  ." 
    ". list list ."
    ".  .    .   .";
}

.all-updates-info ul {
    grid-area: list;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15px;
    margin-inline-end: 25px;
    padding-inline-start: 0;
}

.all-updates-info span {
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px 0;
}

.all-updates-info li {
    list-style-type: none;
    /* width: calc(); */
}

#exit {
    grid-area: exit;
    margin-top:-15px;
    padding: 0;
    /* position:absolute; */
    font-size: 5em;
    cursor:pointer;
}

/*************** Switch ***************/

.switch input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.switch {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 40px;
    background: #666;
    border-radius: 1em;
    cursor: pointer;
    margin-bottom: -3px;
    margin: 0 10px -3px 0;
    transition: all .1s ease-in-out;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.switch input:checked+div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}