<!DOCTYPE html>
<html>

    <head>
        <title>Options | BYUI Canvas Admin Tools</title>
        <link rel="stylesheet" href="../style/main.css">
        <link rel="stylesheet" href="../style/options.css">
    </head>

    <body>
        <h1>BYUI Canvas Admin Tools</h1>
        <div id="extensionInfo"></div>
        <div class="flex-container">
            <div class="outer-container">
                <h3>Popup clickables</h3>
                <div id="popup" class="options-container"></div>
            </div>
            <div class="outer-container">
                <h3>Displays</h3>
                <div id="display" class="options-container"></div>
            </div>
        </div>

        <script src="./firstOpen.js"></script>
        <script src="./createOptionsPage.js"></script>
        <script src="./options.js"></script>
    </body>

</html>
